@import url(https://fonts.googleapis.com/css?family=Lato:400);

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

@keyframes fadeout{
    0% {
        opacity:1;
      }
      100% {
        opacity:0;
    }
    
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(0);
    }
  }
@keyframes slideInRight{
    0% {
        transform: translateX(+500%);
    }
    100% {
        transform: translateX(0);
    }
  }

  


  #btnaboutme {
      height: 100%;
      position: fixed;
      width: 666px;
      margin-top: 60px;
      left: -20px;
      transform: translateX(-666px);
      transition: transform 250ms ease-in-out;
      background: rgb(255, 255, 255);
      opacity: 1;
      border-top-right-radius: 10px;
      border-color: #000000;
      border-style: solid;
      border-width: 10px;
      filter: drop-shadow(0px 0px 10px black);
      
      
  }


  input[type="checkbox"]:checked ~ #btnaboutme {
      transform: translateX(0);
  }
  
  input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;

  }
  .btnaboutme {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      left: 15px;
      height: 22px;
      width: 22px;
  }


  

.overlay {
    animation: 3s ease-in 0s 1 fadeout;
    animation-fill-mode: forwards;
    pointer-events: none;
    
    position: fixed; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

      
      
    
    
  }

  
.buttonimgs {
    animation: 1s ease-out 0s 1 slideInLeft;
    cursor: pointer;
    padding: 40px;
}




  header{
    animation: 1s ease-out 0s 1 slideInRight;
    
    padding: 40px;
  }


    

a {
    color: darkslategrey;
    font-family: "lato";

}

li {
    
    padding: 10px;
    display: inline;
    
}

.navbar {
    color: white;
    padding: 5px;
    background-color: black;
    justify-content: flex-start;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
    
}


.banner {
    
    
    padding: 60px 0;
    text-align: center;
    background-color: white;
    border: 10px;
    border-width: 10px;
    border-style: solid;

    border-color: black;
    
    
    
    
    
    

}


.art {

    color: white;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;

    text-align: center;
    padding: 50px ;
    
    
    background-color: black
    

}
.engines{
    color: white;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;
    
    text-align: center;
    padding: 50px 0;
    
    
    background-color: black

    
}

.programmeren{
    color: white;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;

    text-align: center;
    padding: 50px 0;
    
    
    background-color: black

}


.footer {
    border-color: black;
    color: rgb(0, 0, 0);
    padding: 5px;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 10px;

    
    text-align: center;

}


/* buttons */
.nestedimg   {
    width: 200px;
    
    border: none;
    
}
.buttonimgs{
    border: none;
}
.buttonicon{
    border: none;
    cursor: pointer;
}


button{
    background: transparent;
    
}

input {
    width: 50px;
    border-radius: 10px;
}

img {
    
    width: 50px;
    border: 0.5px solid black;
    border-radius: 10px;

    
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    z-index: 9999;
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: #3d3d3d;
    transition: width 0.3s ease;
}

