@import url(https://fonts.googleapis.com/css?family=Lato:400);

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
@keyframes fadeout{
    0% {
        opacity:1;
      }
      100% {
        opacity:0;
    }
    
}

.overlay {
    animation: 3s ease-in 0s 1 fadeout;
    animation-fill-mode: forwards;
    pointer-events: none;
    
    position: fixed; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

      
      
    
    
}
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
.imagecol{
    display:inline-flex;
    justify-content: center;
    
    flex-flow: wrap;
}
.images{
    
    margin: 10px;
    border: #000000;
    object-fit: cover;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-radius: 25px;
    border-width: 15px;
}
img {
    
    width: 50px;
    border: 0.5px solid black;
    border-radius: 10px;

    
}


.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}



.navbar {
    color: white;
    padding: 5px;
    background-color: black;
    justify-content: flex-start;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
    
}

.banner {
    
    
    padding: 60px 0;
    text-align: center;
    font-family: "lato";
    background-color: white;
    border: 10px;
    border-width: 10px;
    border-style: solid;

    border-color: black;
    
    border-bottom-width: 0;
    
    
    
    

}
.contactcard {
    
    
    padding: 60px 0;
    text-align: center;
    background-color: white;
    border: 10px;
    border-top-width: 0;    
    border-style: solid;

    border-color: black;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;
    
    
    
    
    

}

.buttonicon{
    border: none;
    cursor: pointer;
}




.footer {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
    font-family: "lato";
    font-weight: bold;
    font-size: x-large;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 10px;

    
    text-align: center;

}

li {
    
    padding: 10px;
    display: inline;
    
}

button{
    background: transparent;
    
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    z-index: 9999;
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: #3d3d3d;
    transition: width 0.3s ease;
}










